<h2 class="mt-4">
  {{title}}
  <span class="badge" [ngClass]="isOnline ? 'badge-success' : 'badge-danger'">
    {{isOnline ? 'Online' : 'Offline'}}
  </span>
</h2>
<div class="px-4 pb-4">
    <div class="px-0 d-flex justify-content-end">
      <div class="form-group d-flex align-items-center flex-wrap">
        <label for="Panel">Enter the Number Of Panels :- </label>
         <input type="number" id="Panel" placeholder="Number of panels" min="1" class="regular-width form-control"
          [(ngModel)]="numberOfPanels" (ngModelChange)="resetPanels()">
      </div>
    </div>
  <div class="card-width mt-4">
    <div class="card" *ngFor="let item of numbers" >
      <app-weather-card class="h-100"></app-weather-card>
    </div>
  </div>
</div>

<router-outlet></router-outlet>